@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  font: 10px/1.7 "Roboto", sans-serif;
}

@media screen and (max-width: 751px) {
  html {
    font-size: 2.667vw;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.layout {
  margin: 0 auto;
  max-width: calc(1240px + 40px);
  padding: 0 20px;
}

@media screen and (max-width: 751px) {
  .layout {
    margin: 0 auto;
    padding: 0 2rem;
    width: auto;
  }
}

@media screen and (max-width: 751px) {
  .layout-pc {
    display: none;
  }
}

@media screen and (min-width: 1281px) {
  .layout-sp {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

@media screen and (max-width: 751px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
  }
}

.head1 {
  font-size: 3.2rem;
}

.head2 {
  font-size: 2.4rem;
}

.head3 {
  font-size: 2rem;
}

.head4 {
  font-size: 1.6rem;
}

.head5 {
  font-size: 1.2rem;
}

.head6 {
  font-size: 10rem;
}

.footer {
  display: block;
  padding: 3.5rem 0;
  border-top: 1px solid #707070;
}

.footer-cont1__logo {
  display: block;
  margin-right: 2rem;
}

.footer-cont1__info__txt {
  font-size: 1.6rem;
}

.footer-cont2__list {
  display: block;
}

.footer-cont2__item {
  display: block;
}

@media screen and (min-width: 1281px) {
  .footer-cont2__item:nth-child(3n) {
    margin-right: 1rem;
  }
}

.footer-cont2__item__anchor {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
}

.footer-cont2__item__anchor:hover {
  opacity: 0.5;
}

.footer-copyright {
  text-align: center;
  margin-top: 2.5rem;
}

.header {
  display: block;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #707070;
}

.header .head1 {
  font-size: 0;
}

.header-logo {
  display: inline-block;
}

.header-logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 751px) {
  .header-logo img {
    width: 14.5rem;
  }
}

.nav {
  display: block;
  position: absolute;
  top: 0;
  right: 2rem;
  height: 10rem;
  width: auto;
}

@media screen and (max-width: 751px) {
  .nav {
    right: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
  }
}

.nav-wrapper {
  height: 100%;
  position: relative;
}

.nav-trigger {
  width: 3.5rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
}

.nav-trigger .wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav-trigger__line {
  height: 0.2rem;
  width: 100%;
  position: absolute;
  background-color: #707070;
}

.nav-trigger__line:first-child {
  top: 0;
  left: 0;
}

.nav-trigger__line:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-trigger__line:last-child {
  bottom: 0;
  left: 0;
}

.nav-menu {
  height: 100%;
}

@media screen and (max-width: 751px) {
  .nav-menu {
    margin-right: -20rem;
    width: 20rem;
    height: 100vh;
    padding: 6rem 2rem 2rem;
    position: relative;
    background-color: #eee;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .show-nav .nav-menu {
    margin-right: 0rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 1281px) {
  .nav-menu__item:not(:last-child) {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 751px) {
  .nav-menu__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.nav-menu__item__anchor {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.333;
  text-decoration: none;
  color: #707070;
}

.nav-menu__item__anchor:hover {
  color: inherit;
  opacity: 0.5;
}

.about {
  display: block;
}

.home {
  display: block;
}

.home-cont__sec {
  padding: 2rem 0;
}

.home-cont__sec:not(:last-child) {
  margin-bottom: 2rem;
}

.home-cont .head2 {
  margin-bottom: 1rem;
}

.home-cont__p {
  font-size: 1.6rem;
  padding-left: 2rem;
}

.contact {
  display: block;
}

.app {
  display: block;
  position: relative;
}
/*# sourceMappingURL=App.css.map */