.header {
    display: block;
    width: 100%;
    padding: 2rem;
    border-bottom: 1px solid #707070;

    &-logo {
        display: inline-block;

        &:hover {
            opacity: 0.5;
        }

        svg {
            @include mq_sp {
                width: 14.5rem;
            }
        }
    }
}